// * {
//     overflow:hidden;
// }

html {
    font-size: 62.5%;
}

body {
    @include body(#000, 400);
}

h1,
h2,
h3,
p,
ul,
blockquote,
fieldset,
figure,
legend {
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
    max-width: 100%;
    display: block;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.wrapper {
    max-width: 1300px; 
    width: 95%; 
    margin: 0 auto;
    }


.inner-wrapper {
    max-width: 1400px;
    width: 90%;
    margin: 0 auto;
}

.skip-link {
    position: absolute;
    left: -1000px;
    top: 5px;
    z-index: 999;
    background: white;
    color: black;
}

.skip-link:focus {
    left: 0;
}

.burger-nav {
    display: none;
}

