
// *********First section  *************************************

.first-section {
    background-color:$background;
}

.first-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 28px;
    width: 85%;
    padding: 2% 0 8% 0;
}

.first-grid li {
    display: inline-block;
    display: flex;
}

.text-content h2 {
    @include heading(3.2rem, $primary);
    line-height: 5.9rem;
}

.text-content.section-one p {
        @include body(#3e3e3e, 400);
        letter-spacing: 0.8px;
        line-height: 20px;
}

.icon-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 2% 3% 0 0;
        i {
            color: $primary;
            font-size: 2.2rem;
            background: $secondary;
            width: 38px;
            height: 38px;
            border-radius: 50%;
            line-height: 100px;
            padding: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
}

// ***********Second section *************************************

.second-section {
    background-color: $primary;
}

.second-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 85%;
}

article.right,
article.left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
        h3 {
            @include heading(2.8rem, #FFF);
            line-height: 4.9rem;
        }
}

article.right {
    align-items: flex-start;
    padding-left: 90px;
}

article.left {
    align-items: flex-end;
    text-align: right;
    padding-right: 90px;
}

article.right p,
article.left p {
    @include body(#FFF, 400);
    letter-spacing: 0.8px;
    line-height: 20px;
    padding-bottom: 30px;
}

article.right a,
article.left a {
    background: $secondary;
    color: $primary;
    font-family: 'IM Fell English', serif;
    font-size: 1.8rem;
    text-transform: uppercase;
    padding: 10px 10px 6px 10px;
}

.image-container.section-two.left {
    width: 100%;
    transform: translate(-20%, -10%);
        img {
            box-shadow: 20px 22px 0px -5px $secondary;
        }
}

.image-container.section-two.right {
    width: 100%;
    transform: translate(19.5%, 10%);
        img {
            box-shadow: -20px 22px 0px -5px $secondary;
        }
}

// **********Third section *********************************************

.third-section {
    background-color: $background;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
        .text-content.section-three {
            width: 60%;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 30px;
        }
}

.text-content.section-three h3 {
    @include heading(2.8rem, $primary);
    line-height: 4.9rem;
}

.text-content.section-three p {
    @include body(#3e3e3e, 400);
    letter-spacing: 0.8px;
    line-height: 20px;
    margin: 15px 0 30px 0;
}

.text-content.section-three a {
    @include link-button;
}

// *********Fifth secton **********************************************

.fifth-section {
    background-color: $background;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-five.grid {
    display: flex;
    width: 85%;
}

.text-content.section-five {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 5px;
        h3 {
            @include heading(2.8rem, $primary);
            line-height: 4.9rem;
        }
        p {
            @include body(#3e3e3e, 400);
            letter-spacing: 0.8px;
            line-height: 20px;
        }
        a {
            @include link-button;
            margin-top: 25px;
        }
}

.image-container.section-five {
    flex: 0 0 20%;
    min-width: 200px;
    margin: 0 70px 20px 50px;
    border: 5px solid red;
        img {
            box-shadow: -20px 22px 0px -5px $secondary;
        }
}

// ******Sixth section****************************
.sixth-section {
    background-color: $primary;
    height: 80vh;
    display: flex;
    align-items: center;
}

.gallery-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 30px;
    width: 85%;
}

// *******Footer*********************************

footer {
    @include footer;
}

