// *******Home page media queries start here**********
@media (max-width: 1400px) {
   
    .feature-image {
        border: none;
    }
}

@media (max-width: 1024px) {


    .feature h1 {
        font-size: 6rem;
        line-height: 8rem;
        padding-bottom: 40px;
    }

    .feature-image {
        max-width: 500px;
    }

    article.right {
        padding-left: 70px;
    }

    article.left {
        padding-right: 70px;
    }

    .image-container.section-two.left {
        transform: translate(-20%, -15%);
    }

    .third-section {
        height: 55vh;
    }

    .fifth-section {
        height: 55vh;
    }
    
    .image-container.section-five {
        margin: 10px 70px 20px 50px;
        min-width: 300px;
    }

    .sixth-section {
        height: 55vh;
    }

}

@media (max-width: 768px) {

    .section-five.grid {
        align-items: center;
    }
    
    .image-container.section-five {
        margin: 0 70px 20px 50px;
        min-width: 150px;
        height: 150px;
    }

    .sixth-section {
        height: 35vh;
    }

    // Contact page
    .desktop-nav {
        display: none;
    }

    .burger-nav {
        display: block;
        text-align: right;
        button {
            margin: 20px 0;
            color: $accent;
            border: none;
            background: transparent;
            font-size: 4rem;
        }
    }

    .contact-header h1 {
        font-size: 5.6rem;
        padding-bottom: 65px;
    }

    .contact-container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

    form[action="contact-form"] {
        grid-row-start: 1;
        grid-row-end: 3;
        margin: 60px 30px 0px 30px;
    }

    .contact-container section {
        text-align: center;
        margin-bottom: 40px;
        .social-media {
            justify-content: center;
        }
    }

    .social-media li:last-child {
        padding-right: 0px;
    }

}

// Mobile 
@media (max-width: 500px) {

    body {
        font-size: 1.6rem;
        line-height: 24px;
    }

    // Contact

    .contact-header h1 {
        font-size: 4.2rem;
    }

    .contact-container p {
        line-height: 22px;
    }

    input[type="name"],
    input[type="email"] {
        width: 100%;
        padding: 14px;
    }
}

