@mixin heading($size, $color) {
    font-family: 'IM Fell English', serif;
    font-size: $size;
    color: $color;
    text-transform: uppercase;
    font-weight: 400;
}

@mixin button($color) {
    font-family: 'IM Fell English', serif;
    font-size: 2rem;
    color: $color;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1.2px;
}

@mixin body($color, $weight) {
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    color: $color; 
    font-weight: $weight;
    letter-spacing: 1.2px;
}

@mixin link-button {
    background: $secondary;
    color: $primary;
    font-family: 'IM Fell English', serif;
    font-size: 2.4rem;
    text-transform: uppercase;
    padding: 10px 10px 6px 10px;
}

@mixin footer {
    background: $secondary;
    color: $primary;
    font-family: 'Roboto', sans-serif;
    font-size: 1.4rem;
    text-align: center;
    line-height: 4rem;
}